h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
}

.nav-link {
    padding: 24px 0;
    display: inline-block;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.logo-main {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part-header {
    color: #2e2f42;
}

.contact-info {
    font-style: normal;
}

.contact-list {
    display: flex;
    gap: 40px;
}

.contact-link {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

.section {
    width: 100%;
        padding-top: 120px;
        padding-bottom: 120px;
}

.first-section {
    background-color: #2e2f42;
    text-align: center;
    color: white;
}

.main-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.cta-button {
    display: block;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
}

.cta-button:hover,
.cta-button:focus {
    background-color: #404BBF;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.features-list,
.team-list,
.portfolio-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature-item,
.portfolio-item,
.team-member {
    flex: 1 1 calc((100% - 72px) / 4);
    text-align: center;
}

.feature-title,
.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.feature-description,
.portfolio-category {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-member {
    background-color: #FFFFFF;
    text-align: center;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.1);
}

.team-member img {
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0 0;
}

.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-top: 10px;
    margin-bottom: 8px;
}

.team-member-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-top: 5px;
}

.portfolio-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.1);
    border-top: none;
}
.portfolio-item-info {
    border-radius: 0px 0px 4px 4px;
}
.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0 0;
}
.portfolio-title {
    margin-bottom: 8px;
}
.footer {
    background-color: #2e2f42;
    text-align: center;
    color: #f4f4fd;
    padding: 100px 0;
    width: 100%;
}

.footer .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo-main {
    margin-bottom: 16px;
    display: inline-block;
}

.logo-part-footer {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}